<div class="contents row">
  <% @memos.each do |memo| %>
      <%# <div class="content_post" style="background-image: url(<%#= memo.image %>  <%# );"> %>
      <span class="name">
        <%= memo.name %>
      </span>
      <p><%= memo.text %></p>

      <%#</div> %>

  <% end %>
</div>


